/*=====================Fonts & Colors====================*/
html{
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
h1{
  font-family: 'Vesper Libre', serif;
  font-weight: 700;
  color:white;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}

h2{
font-family: 'Futura', sans-serif;
letter-spacing: 2px;
font-weight: 400;
font-size: 14px;
color: #FFFFFF;
text-transform: uppercase;

}
h3{
font-family: 'Roboto Mono', monospace;
font-weight: 500;
font-size: 14px;
color: #6E6E73;
}

p{
  color:white;
  font-family: 'Vesper Libre', serif;
  font-weight: 400;
  font-size:30px;
  line-height: 44px;

}

li{
  font-family: Futura-Medium;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 20px;

}

a,  a:visited{
  color:#FFFFFF;
}
a:link {
    text-decoration: none;
}
.container3-p{
  color:black;
  font-family: Futura-Medium;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
.container3-h1{
  color:black;

}
/*===================%px%px%%px================*/
html,body{
  height:100%;
}

body{
  margin:0;
}
.container1-body{
  margin-left:96px;
  margin-right: 96px;
  }
.container2-body{
  margin-left:96px;
  margin-right: 96px;
}
.container3-body{
  margin-left:96px;
  margin-right: 96px;
}

.container1-name, .container1-face,.container1-title{
  width:33.333333%;
}
.container2-left{
  width:66.66666%;
  margin-right: 48px;
  margin-top:96px;
  margin-bottom:96px;

}
.container2-right{
  width:33.333333%;
  margin-left:48px;
  margin-top:96px;
  margin-right: 48px;
  margin-left:48px;
  /*margin-bottom:96px;*/
}
.container2-Bottom{
  width:100%;
  /*margin-bottom:96px;*/
}
.container3-right-textbox{
  margin-right:48px;
  margin-left:48px;

}
.container3-title1, .container3-text, .container3-title2{
height: 100%;
width: auto;}

ul {
list-style-type: none;
  margin:0;
  padding:0;
}
h3,li{
  margin-bottom: 16px;
}

p{
  margin:0;
  padding:0;
}

h2{
  margin-top: 0;
}
li{
  margin-right:24px;
}
img {

    max-width: 100%;
    height: 100%;
    object-fit: fill;


}
/*====================FlexBox container1====================*/
.container1-body{
  display:flex;
  flex-direction: row;
  height:100%;
}

.container1-name{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container1-face{
  display:flex;
}
.container1-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*====================FlexBox Container2===================*/
.container2-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100%;
}
.container2-top{
  display: flex;
  flex-direction: row;
}
.container2-left{
  display: flex;
}
.container2-intro{
  display: flex;
  flex-direction: column;
  margin:0;
  padding:0;
}
.container2-bottom{
  display:flex;
  justify-content: center;
  flex-direction: column;

}
.container2-right{
  display: flex;
}
.container2-inlineList {
  display: flex;
  list-style:none;
  padding:0;
  margin:0;
}
/*====================FlexBox Container3===================*/
.container3-body{
  display: flex;
  align-items: center;
  flex-direction: row;
  height:100%;
}
.container3-right{
  display:flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.container3-right-textbox{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container3-left{
  width:50%;

  }

/*====================parallax====================*/

.container1{
  background-image: url('../image/image.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height:100%;
}

.container2 {
  background-color: #212124;
  height:100%;

}
.container3{
  background-color: #E9EAE5;
  height:100%;
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.25);
  border-radius: 3px;
}

/*=====================Hover======================*/


.hvr-sweep-to-top {
  display: flex;
  align-items: center;
 -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #6748FF	;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/*===================Media Queries 480px==================*/
@media (max-width:480px) {
.container1-body, .container2-body{
  flex-direction: column;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
}
/*================
First Container
================*/

.container1{
  background-image: url('../image/mobileimage.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.container1-name{
  order:1
}
.container1-face{
  order:3
}
.container1-title{
  width: auto;
  order:2
  }

  /*====================
  Second Container
  =============*/
.container2{
    height: auto;
    width: auto;
    display: flex;
  }

.container2-top{
  display: flex;
  flex-direction: column;
}
.container2-left, .container2-right{
  display: flex;
  justify-content: flex-start;
  width: auto;
  margin-left: 0;
}
.container2-left{
  margin-top: ;
  margin-bottom:48px;
}
.container2-right{
  margin-top: 0;
  margin-bottom:48px;
}
.container2-bottom{
  margin-top: 0;
  width:auto;
}
.container2-intro{
  margin-bottom: 48px;
  margin:top:48px;
}
.container2-skills-list{
  margin-top: 20px;
}
p{
  font-size:18px;
  line-height: 28px;
}
.container2-inlineList{
  display: flex;
  flex-direction: column;
  width: 30%;
}
/*====================
3rd Container
=============*/

.container3{
  height: auto;
  width: 100%;
  display: flex;

}
.container3-body{
  display: flex;
  flex-direction: column;
  height:100%;
  margin: 16px;
}
img{
  width: 100%;
  height: 100%;
  object-fit: none;
}
.container3-left{
display: flex;
width: 100%;
height: auto;
margin-bottom: 48px;
}

.container3-right{
  display:flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.container3-p{
    font-size:18px;
    line-height: 28px;
}




/*===================Media Queries 1024==================*/


}
@media (max-width:1024px) {
  .container1-body, .container2-body{
    flex-direction: column;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
  }
  /*================
  First Container
  ================*/

  .container1{
    background-image: url('../image/mobileimage.jpg');
    background-size: cover;
    background-attachment: fixed;
  }

  .name{
    order:1
  }
  .face{
    order:3
  }
  .title{
    width: auto;
    order:2
    }

    /*====================
    Second Container
    =============*/
  .container2{
      height: auto;
      width: 100%;
      display: flex;
    }

  .container2-top{
    display: flex;
    flex-direction: column;
  }
  .container2-left, .container2-right{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-left: 0;
  }
  .container2-left{
    margin-top: ;
    margin-bottom:48px;
  }
  .container2-right{
    margin-top: 0;
    margin-bottom:48px;
  }
  .container2-bottom{
    margin-top: 0;
    width:100%;
  }
  .container2-intro{
    margin-bottom: 48px;
    margin:top:48px;
  }
  .container2-skills-list{
    margin-top: 20px;
  }
  p{
    font-size:25px;
    line-height: 28px;
  }
  .container2-inlineList{
    display: flex;
    flex-direction: column;
  }
  /*====================
  3rd Container
  =============*/

  .container3{
    height: auto;
    width: 100%;
    display: flex;

  }
  .container3-body{
    display: flex;
    flex-direction: column;
    height:100%;
    margin: 16px;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container3-left{
  display: flex;
  width: auto;
  height: auto;
  margin-bottom: 48px;
  justify-content: center;
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.25);
  border-radius: 3px;
  }

  .container3-right{
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .container3-p{
      font-size:18px;
      line-height: 28px;
  }

  }

}
